* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
//----------------header-------------------//
.modal-header {
  .modal-heading {
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: 1px;
  }
  .modal-close {
    font-size: 3rem;
  }
}
.modal-body {
  .navbar-nav {
    .nav-item {
      a {
        font-size: 2rem;
        line-height: 3rem;
        color: #000;
        font-weight: 400;
        letter-spacing: 1px;
      }
    }
  }
}
//----------blog-page-------------//
@media screen and (min-width: 768px) {
  .img {
    height: 100%;
    object-fit: cover;
  }
}
//--------------footer------------------------//
.footer-section {
  position: relative;
  .subscribe-form {
    position: relative;
    overflow: hidden;
  }
  .subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #2e2e2e;
    border: 1px solid #2e2e2e;
    color: #fff;
  }
  .copyright-area {
    background: #202020;
    padding: 25px 0;
  }
  .copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
  }
}

//----------contact-page--------//
.btn1 {
  width: 100%;
  letter-spacing: 0.3rem;
}
.form-text {
  font-size: 1.2rem;
  color: gray;
  line-height: 1.8rem;
}
